:root {
  --deeppinkLight: rgb(255, 0, 125);
  --deeppink: rgb(255, 0, 104);
  --deeppinkDark: rgb(230, 0, 94);
}

.Format {


  width: fit-content;

}

.Format select {
  border: 1px solid var(--deeppink);


}

/*@media only screen (and max-width: 500px)
{
	.Format select option {
		max-width: 2rem !important;
	}

	.Format select {
		max-width: 2rem !important;
	}
}*/
